.header {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header .logo {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: auto;
}